@font-face {
    font-family: Mailman;
    src: url(Mailman.ttf);
}

html {
    background-color: rgb(165, 210, 247);
}

.grocerylist {
    background-color: rgb(245, 245, 69);
    width:300px;
    height:420px;
    padding:5px;
}

.listtitle {
    text-align: center;
    font-family: Mailman;
    font-weight: bold;
    margin-bottom: 20px;
}

.listline {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 50px;
    transition: background-color 1s;
}

.listitem {
    text-align: center;
    font-family: Mailman;
    font-size: 40px;
    margin: 5px;
    padding-left: 10px;
}

.listline:hover {
    background-color: white;
    button { 
        background-color: rgb(209, 255, 201);
    }
}

button {
    background-color: rgb(245, 245, 69);
    border: none;
    transition: background-color 1s;
}

p {
    white-space: pre-line; 
}

.imgrow {
   display: block;
   width: 310px; 
   height: 200px;
   transition: width 1s;
}
img {
    object-fit: cover;
    width: 52px;
    height: 200px;
    border: none;
    padding: none;
    margin: -2px;
    transition: width 1s;
}

.imgrow:hover {
    img {
        width: 36.5px;
    }
    img:hover {
        width: 130px;
    }
}
