@font-face {
    font-family: Mailman;
    src: url(Mailman.ttf);
}

html {
    background-color: rgb(214, 232, 247);
    text-align: center;
}

.grocerylist {
    background-color: rgb(245, 245, 69);
    width:300px;
    height:400px;
    padding:5px;
}

.listtitle {
    text-align: center;
    font-family: Mailman;
    font-weight: bold;
    margin: bottom 10px;
}

#listitem {
    text-align: center;
    font-family: Mailman;
    font-size: 40px;
    margin: 5px;
}

p {
    white-space: pre-line; 
}